a {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

button.like {
    margin-left: 10px;
}

form.comment {
    margin-left: 10px;
}

div.profile {
    width: 45%; 
    margin-left:auto; 
    margin-right:auto;
}

div.post {
    border: 2px solid darkgrey;
    border-radius:10px;
    margin: 10px;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:1%;
    padding-bottom:1%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
div.allposts {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img.pfp {
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

img.post {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.inline {
    display: inline;
    float: right;
    margin-right: 10px;
}

span.rightside {
    display: inline;
    float: right;
    margin-right: 10px;
    color: darkgray;
}